<h2>About Project Mati</h2>
<p>A project to decentralize KYC and Credit rating.</p>

<h2>Technologies in Place</h2>
<ul>
  <li>Ethereum</li>
  <li>IPFS</li>
  <li>Smart Contracts</a></li>
</ul>

<h3>Current State</h3><p> -  Work In Progress</p>

<hr />

<ul class="fa-ul main-list">
  <h2>
    Team Members
  </h2>
</ul>
<ul>
  <li >
    <a href="https://in.linkedin.com/in/harshpatel54">Harsh Patel</a>
  </li>
  <li >
    <a href="">Priya Surya</a>
  </li>
  <li >
    <a href="">Akshith Gunasekaran</a>
  </li>
  <li >
    <a href="">Utkarsh Verma</a>
  </li>
  <li >
    <a href="">Shashank Singh</a>
  </li>
  <li >
    <a href="">Archana Dubey</a>
  </li>
</ul>
