
<h2>About Project Mati</h2>
<p>A project to decentralize KYC and Credit rating.</p>

<h2>Technology used</h2>
<P> Mixture of Blockchains, Smart Contracts and P2P Distributed File Systems </p>

<h3>Current State</h3><p>  Working Prototype </p>

<hr />

<ul class="fa-ul main-list">
  <h2>
    Team Members
  </h2>
</ul>
<ul>
  <li >
    <a href="https://in.linkedin.com/in/harshpatel54">Harsh Patel</a>
  </li>
  <li >
    <a href="https://www.linkedin.com/in/priyasurya">Priya Surya</a>
  </li>
  <li >
    <a href="https://in.linkedin.com/in/akshithg">Akshith Gunasekaran</a>
  </li>
  <li >
    <a href="https://www.linkedin.com/in/utkve">Utkarsh Verma</a>
  </li>
  <li >
    Shashank Singh
  </li>
  <li >
    Archana Dubey
  </li>
</ul>
